{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <div class="single-contact-infos">
            <h1 class="single-contact-name">
                {{ contact.first_name }} {{ contact.last_name }}
            </h1>
            <p><b>ID:</b> {{ contact.id }}</p>
            <p><b>E-mail:</b> {{ contact.email }}</p>
            <p><b>Phone:</b> {{ contact.phone }}</p>
            <p><b>Created date:</b> {{ contact.created_date }}</p>
            <p class="single-contact-description"><b>Description:</b> {{ contact.description }}</p>
            <p><b>Category:</b> {{ contact.category.name }}</p>
        </div>
        {% if contact.picture %}
            <img src="{{ contact.picture.url }}" alt="Foto de {{ contact.first_name }}" class="contact-picture">
        {% endif %}
    </div>
{% endblock content %}