{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <div class="single-contact-infos">
            <h1 class="single-contact-name">
                {{ contact.first_name }} {{ contact.last_name }}
            </h1>
            <p><b>ID:</b> {{ contact.id }}</p>
            <p><b>E-mail:</b> {{ contact.email }}</p>
            <p><b>Phone:</b> {{ contact.phone }}</p>
            <p><b>Created date:</b> {{ contact.created_date }}</p>
            <p class="single-contact-description"><b>Description:</b> {{ contact.description }}</p>
            <p><b>Category:</b> {{ contact.category.name }}</p>

            {% if user == contact.owner %}
                <div class="contact-links">
                    <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>
                    <form action="{% url "contact:delete" contact.id %}" method="POST">
                        {% csrf_token %}
                        
                        {% if confirmation == 'no' %}
                        <input type="hidden" name="confirmation" value="yes">
                        <button class="btn btn-link btn-delete" type="submit">Confirm?</button>
                        {% else %}
                        <button class="btn btn-link btn-delete" type="submit">Delete</button>
                        {% endif %}
                        
                    </form>
                </div>
            {% endif %}
        </div>
        {% if contact.picture %}
            <img src="{{ contact.picture.url }}" alt="Foto de {{ contact.first_name }} {{ contact.last_name }}" class="contact-picture">
        {% endif %}
    </div>
{% endblock content %}